.container-fluid{
    background-image: url("image/pemandangan.png");
    background-size : cover;
}

.jumbotron .display-4{
  color: white;
}

.map-container {
  margin-top: 40px; /* Memberikan jarak antara iframe dan elemen di atasnya */
  text-align: center;
}

.map-container iframe {
  
  width: 50%;
  max-width: 600px; /* Batas maksimal agar tampilan lebih responsif */
  height: 350px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px; /* Sudut membulat untuk gaya */
}
